<!DOCTYPE html>
{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}


{% block content %}
<!-- First Grid: Logo & About -->
    
<html>
    <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-content" style="max-width:2000px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-light-grey w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>How to Start</h1> 
        <p>1. Register an Account</p>
        <p>2. Login</p>
        <p>3. Create a List</p>
        <p>4. Add items onto list for further viewing</p>


    </div>
    <div class="w3-padding-64">
      
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>My Info</h1>
      {% load static %} <img src="{% static "main/media/momo2.jpeg" %}" alt="momo" style="max-width:200px"/>
      <div class="w3-left-align w3-padding-large">
        <p><a href="https://github.com/mathewrolf">GitHub</a></p>
        <p><a href="https://www.linkedin.com/in/mathew-rolf-2b0704264/">LinkedIn</a></p>
        <p>My Number: (916) 836-9782</p>
        <p>My Email: mathewrolf@comcast.net</p>
      </div>
    </div>
  </div>
</div>






















{% comment %} <div class="w3-half w3-blue-grey w3-container" style="height:700px">
      <div class="w3-padding-64 w3-center">
        <h1>Contact Info</h1>
        {% load static %} <img src="{% static "main/media/momo.jpeg" %}" alt="momo" style="max-width:200px"/>
        <div class="w3-left-align w3-padding-large">
            <p><a href="https://github.com/mathewrolf">GitHub</a></p>
            <p><a href="https://www.linkedin.com/in/mathew-rolf-2b0704264/">LinkedIn</a></p>
            <p>My Number: (916) 836-9782</p>
            <p>My Email: mathewrolf@comcast.net</p>
        </div>
      </div>
    </div>
  </div>
   {% endcomment %}





</body>
</html>
{% endblock %} 


  